/* 版心设置 */
.w {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 84px;
  border-bottom: 2px #b1191a solid;
  overflow: hidden;
}
header div {
  margin-top: 16px;
  margin-left: 4px;
}

/* main开始 */
.main {
  height: 522px;
  border: 1px #dfdfdf solid;
  margin-top: 20px;
}
.main .head {
  width: 1198px;
  height: 41px;
  background-color: #ececec;
  border-bottom: 1px #dfdfdf solid;
}
.main .head p:first-child {
  float: left;
  font-size: 18px;
  color: #333;
  line-height: 40px;
  margin-left: 10px;
}
.main .head p:last-child {
  float: right;
  line-height: 40px;
  margin-right: 10px;
  font-size: 14px;
  color: #333;
}
.main .head p:last-child a {
  color: #c81623;
}
.main .body {
  width: 580px;
  height: 370px;
  margin-left: 367px;
  margin-top: 53px;
}
.main .body ul li div:first-child {
  float: left;
  width: 130px;
  height: 36px;
}
.main .body ul li div label {
  float: right;
  font-size: 14px;
  color: #4c4c4c;
  line-height: 36px;
}
.main .body ul li div:last-child {
  float: left;
  height: 36px;
}
.main .body ul li div:last-child input {
  width: 240px;
  height: 36px;
  padding-left: 10px;
  border: 1px #999 solid;
}
.main .body ul li div:last-child input::placeholder {
  font-size: 14px;
  color: #999;
}
.main .body ul li:nth-child(n + 2) {
  margin-top: 20px;
}
.main .body ul li #confirm {
  margin-right: 10px;
  vertical-align: middle;
  margin-left: 130px;
}
.main .body ul li label {
  font-size: 12px;
}
.main .body ul li label a {
  color: #1ba1e6;
}
.main .body ul li #btn {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  width: 200px;
  height: 34px;
  background-color: #c81623;
  margin-top: 51px;
  margin-left: 130px;
}
.main .body ul .safe {
  font-size: 12px;
  color: #b2b2b2;
  margin-left: 200px;
}
.main .body ul li:nth-child(4) {
  margin-top: 10px;
}

.main .body .safe em:nth-child(1) {
  color: #fff;
  padding: 0 11px;
  background-color: #de1111;
  margin-left: 10px;
  margin-right: 1px;
}
.main .body .safe em:nth-child(2) {
  color: #fff;
  padding: 0 11px;
  background-color: #40b83f;
  margin-right: 1px;
}
.main .body .safe em:nth-child(3) {
  color: #fff;
  padding: 0 11px;
  background-color: #f79100;
  margin-right: 1px;
}
/* main结束 */

/* footer开始 */
.footer {
  overflow: hidden;
  margin-top: 50px;

  text-align: center;
}

.footer .links {
  margin-left: 101px;
}
.footer .links ul li {
  /* 脱离了标准流 不能用 text-align: center;居中 */
  float: left;
  border-right: 1px #666 solid;
}
.footer .links ul li a {
  padding: 0 16px 0;
  font-size: 12px;
  color: #666;
}
.footer .links ul li:last-child {
  border-right: none;
}
.footer .info {
  margin-top: 16px;
  font-size: 12px;
  color: #666;
}
.footer .info p {
  line-height: 20px;
}
/* footer结束 */

/* .test {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: red;
}
.test::after {
  content: "啊飒飒";
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #fff;
  transform: rotate(30deg);
  transition: all 0.3s;
}
.test:hover::after {
  transform: rotate(130deg);
} */
